* {
  font-family: sans-serif;
}

h2 {
  color: #017495;
  text-align: center;
  text-transform: uppercase;
}
#list-item {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#list-item div {
  background-color: #f0f8ff;
  border: 1px solid #ccc;
  margin: .5rem;
  padding: 1rem;
}
span {
  display: block;
}
#loading {
  font-size: 2rem;
  margin: 0;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}
.hide {
  display: none;
}
